html {
  box-sizing: border-box;
}
  
*, *:before, *:after {
  box-sizing: inherit;
  font-size: 16px;
}

body {
    margin: 0 auto;
    padding: 10px;
}

header p {
    font-size: 1.3rem;
    text-align: center;
    padding: 0;
}

ul {
    list-style: none;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
    padding: 5px;
    background-color: black;
    color: white;
    font-weight: 600;
}

nav li {
    display: flex;
}

footer p {
    font-size: 0.75rem;
}

footer h3 {
    font-size: 0.85rem;
}

h1 {
    font-size: 1.3rem;
}

h2 {
    font-size: 1.1rem;
}
