.super-mario {
    width: 200px;
    position: absolute;
    top: 50px;
    z-index: 1;
 }
  
  .goomba {
    width: 100px;
    position: absolute;
    margin-left: 60px;
    top: 350px;
    z-index: 2;
  }
  
  .baloon {
    position: absolute;
    margin-left: 210px;
    top: 180px;
    z-index: 3;
  }
  
  .speach {
    position: absolute;
    font-size: 25px;
    top: 220px;
    margin-left: 230px;
    z-index: 4;

  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 310px;
    margin-left: 510px;
    z-index: 5;
  }