/*
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Oswald', sans-serif;;
}

header {
    background-color: rgb(19, 73, 124);
    color: white;
    text-align: center;
}

.nav {
    list-style: none;
    text-align: center;
    background-color: rgb(90, 165, 235);
    font-size: 15px;
}

.nav li {
    display: inline-block;
    padding: 10px;
    margin-inline: 40px;
}

p {
    margin: 10px;
}

a {
    sty
}
*/